.git
.github
.gitignore
.env
.env.*
.factory
.home
.devcontainer
.editorconfig
.vscode
.windsurf
.opencode
*.md
Makefile
docker-compose*.yml
docker
docs
web
temp
bin
chatwoot-docker
openspec
scripts
stacks
